.botao {
  background-color: #6278f7;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: #ffff;
  margin: 1rem 0;
  transition: 0.3s;
}

.botao:hover {
  color: #95ffd4;
}
